@using ClinicManager.Models.Entities
@model IEnumerable<BuoiDieuTriAudit>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Thời gian</th>
            <th>NNgười sửa</th>
            <th>Lý do</th>
            <th>Chi tiết</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.suaLuc</td>
                <td>@a.adminNhanVienId</td>
                <td>@a.lyDo</td>
                <td>
                    <details>
                        <summary>Xem</summary>
                        <pre>
    Trước:
    Ngày: @a.ngayDieuTriCu
    Chi phí: @a.chiPhiThuocVatTuCu

    Sau:
    Ngày: @a.ngayDieuTriMoi
    Chi phí: @a.chiPhiThuocVatTuMoi
                            </pre>
                    </details>
                </td>
            </tr>
        }
    </tbody>
</table>
