<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ClinicManager</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ClinicManager.styles.css" asp-append-version="true" />
	@{
		var controller = ViewContext.RouteData.Values["controller"]?.ToString();
		var action = ViewContext.RouteData.Values["action"]?.ToString();

		ViewData["AutoJsPath"] = $"/js/{controller}/{action}.js";
		ViewData["AutoCssPath"] = $"/css/{controller}/{action}.css";
	}
	<link rel="stylesheet" href="@ViewData["AutoCssPath"]" asp-append-version="true" onerror="this.remove()" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ClinicManager</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - ClinicManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	@* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/common/toast.js" asp-append-version="true"></script>
	<script src="@ViewData["AutoJsPath"]" asp-append-version="true" onerror="this.remove()"></script>
	@await RenderSectionAsync("Scripts", required: false)

	@if (TempData["ToastMessage"] != null)
	{
		<script>
			showToast(
				'@TempData["ToastType"]',
				'@TempData["ToastMessage"]'
			);
		</script>
	}
	<div aria-live="polite" aria-atomic="true"
		 class="position-fixed top-0 end-0 p-3"
		 style="z-index: 1080">

		<div id="toast-container"></div>
	</div>
</body>
</html>
