@model ClinicManager.ViewModels.ChamCong.ChamCongHomNayVm

<h2>Chấm công hôm nay</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

@if (Model.NghiPhep)
{
    <div class="alert alert-warning">
        Hôm nay bạn đang nghỉ phép
    </div>
}
else
{
    <p>Giờ vào: @Model.GioVao</p>
    <p>Giờ ra: @Model.GioRa</p>

    @if (!Model.DaCheckIn)
    {
        <form asp-action="CheckIn" method="post">
            @Html.AntiForgeryToken()
            <label>
                <input type="checkbox" name="anTrua" checked="checked"/> Ăn trưa
            </label>
            <br />
            <button class="btn btn-primary">Check In</button>
        </form>
    }
    else if (!Model.DaCheckOut)
    {
        <form asp-action="CheckOut" method="post">
            @Html.AntiForgeryToken()
            <button class="btn btn-danger">Check Out</button>
        </form>
    }
}
<p></p>
<p></p>
<p></p>
<p><a href="/chamcong/lichsu">Lịch sử chấm công</a>.</p>