@model List<ClinicManager.ViewModels.Luong.CauHinhLuongVm>

<h3>Cau hinh luong</h3>

<a class="btn btn-primary mb-2" asp-action="Create">
    + Them cau hinh
</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ap dung tu</th>
            <th>Gio lam</th>
            <th>An trua</th>
            <th>Tang ca</th>
            <th>Thao tac</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ApDungTuNgay.ToString("dd/MM/yyyy")</td>
                <td>@x.GioBatDauSang – @x.GioKetThucChieu</td>
                <td>@x.TienAnTruaNgay.ToString("N0")</td>
                <td>@x.HeSoTangCaNgayThuong / @x.HeSoTangCaNgayLe</td>
                <td>
                    <a class="btn btn-sm btn-info"
                       asp-action="ChiTiet"
                       asp-route-id="@x.CauHinhLuongId">
                        Chi tiet
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>
