@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<ClinicManager.ViewModels.BenhNhan.BenhNhanListItemVm>

<h2>Danh sách bệnh nhân</h2>

<p>
    <a class="btn btn-primary" asp-action="Tao">
        + Thêm bệnh nhân
    </a>
</p>

<form method="get" asp-action="Index" class="row g-3 mb-3">
    <div class="col-auto">
        <input type="text" name="searchString" class="form-control" placeholder="Tìm tên hoặc SĐT..." value="@ViewBag.CurrentSearch">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Tìm</button>
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Họ tên</th>
            <th>Giới tính</th>
            <th>Tuổi</th>
            <th>Số điện thoại</th>
            <th>Người giới thiệu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td><a asp-controller="BenhNhan"
                   asp-action="ChiTiet"
                   asp-route-id="@b.BenhNhanId"
                   class="fw-bold text-decoration-none">
                    @b.HoTen
                </a></td>                
                <td>@b.GioiTinh</td>
                <td>@b.Tuoi</td>
                <td>@b.SoDienThoai</td>
                <td>@b.NguoiGioiThieu</td>
                <td>
                    <a asp-action="Sua"
                       asp-route-id="@b.BenhNhanId"
                       class="btn btn-sm btn-info">
                        Sửa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-center mt-3">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.CurrentSearch }),
    new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
</div>
